.posiciones-container form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--margin-X);
}

.posiciones-container form select{
    outline: none;
    border: none;
    background-color: var(--color2);
    font-family: var(--fontFamily);
    font-size: var(--fontSizeText-lg);
    text-transform: uppercase;
    padding: 8px 12px;
    border: 1px solid var(--color1);
    border-radius: 10px;
}

.posiciones-container table{
    width: 100%;
    margin: var(--margin-Y) auto;
    font-size: var(--fontSizeText-lg);
    text-align: center;
    border-collapse: collapse;
}

.posiciones-container table thead{
    color: var(--color2);
}

.posiciones-container table thead tr th {
    text-transform: uppercase;
    padding: 2px 6px;
}

.posiciones-container table thead tr th {
    background-color: var(--color1);
}

.posiciones-container table tbody{
    border-collapse: collapse;
}

.posiciones-container table tbody tr td {
    text-transform: uppercase;
    padding: 5px;
    color: var(--color1);
}

.posiciones-container table tbody tr .td-nombreEquipo{
    text-align: left;
}

.posiciones-container table tbody tr .td-nombreEquipoCorto{
    display: none;
}

.posiciones-container table tbody tr:nth-child(odd) td{
    background-color: #c8c8c8;
}
.posiciones-container table tbody tr:nth-child(even) td{
    background-color: #bfbfbf;
}

.posiciones-container table thead tr th:first-child{
    border-top-left-radius: 5px;
}
.posiciones-container table thead tr th:last-child{
    border-top-right-radius: 5px;
}

.posiciones-container table tbody tr:last-child td:last-child{
    border-bottom-right-radius: 5px;
}
.posiciones-container table tbody tr:last-child td:first-child{
    border-bottom-left-radius: 5px;
}

@media (max-width: 768px) {
    .posiciones-container table tbody tr .td-nombreEquipoLargo{
        display: none;
    }
    
    .posiciones-container table tbody tr .td-nombreEquipoCorto{
        display: block;
    }
}